{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block content %}

  <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="POST" novalidate>
  {% csrf_token %}

  {% for field in form %}
    <div class="form-floating mb-3 pt-5">
      {{ field }}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>

      {% if field.errors %}
        <div class="invalid-feedback d-block">
          {{ field.errors.as_text|slice:"2:" }}
        </div>
      {% endif %}
    </div>
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <button class="w-100 btn btn-lg btn-dark" type="submit">Add goal!</button>
</form>



{% endblock %}