{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block content %}

<div class="container col-xxl-12 px-4 py-3 my-5 text-bg-success border rounded-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
    <div class="col-10 col-sm-8 col-lg-6"> <img src="{% static 'temp_photos/programming.png' %}"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" loading="lazy"> </div>
    <div class="col-lg-6">
      <h1 class="display-12 fw-bold lh-1 mb-3">{{goal.title}}</h1>
    </div>
  </div>
</div>

<!-- Tasks Area -->
{% if tasks %}
  {% for task in tasks %}
    <div class="my-3 p-3 bg-body rounded shadow-sm px-5">
      <div class="d-flex justify-content-between align-items-center text-body-secondary pt-3 
                  {% if task.is_done %}
                    border-start border-4 border-success bg-success-subtle
                  {% else %}
                    border-start border-4 border-danger bg-danger-subtle
                  {% endif %} ps-3">
          
        <p class="pb-3 mb-0 small lh-sm me-3">
          <strong class="d-block fs-5">{{ task.title }}</strong>
          {{ task.description }}
        </p>

        <form action="{% url 'toggle_task_done' task.id %}" method="post"
              class="form-check mb-0 d-flex flex-column align-items-center"
              style="width: max-content; min-width: 50px;">
          {% csrf_token %}
          <label class="form-check-label mb-1 text-center" for="done-{{ task.id }}" style="white-space: nowrap;">
            done?
          </label>
          <input class="form-check-input mx-auto" type="checkbox" id="done-{{ task.id }}"
                {% if task.is_done %}checked{% endif %} onChange="this.form.submit()">
        </form>

      </div>
    </div>
  {% endfor %}
{% else %}
    <div class="my-3 p-3 bg-body rounded shadow-sm px-5">
      <h3 class="border-bottom pb-2 mb-0">You didn't add any tasks yet!</h3>
    </div>
{% endif %}

<!-- Notes area -->
 {% if notes %}
  {% for note in notes %}
    <div class="p-4 mb-3 bg-body-tertiary rounded my-5 mx-5">
      <p class="mb-0">{{ note.text }}</p>
    </div>
  {% endfor %}
  {% else %}

  <div class="p-4 mb-3 bg-body-tertiary rounded my-5 mx-5">
    <h4 class="fst-italic">You didn't add any notes yet!</h4>
  </div>

  {% endif %}

<hr style="border-top: 3px solid #333; margin: 3rem 0;">

<div class="px-5">
  <h3>Add task!</h3>
  <form method="post" class="pt-3">
      {% csrf_token %}
      {% for field in task_form %}
        <div class="form-floating mb-3">
          {{ field }}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% if field.errors %}
            <div class="invalid-feedback d-block">
              {{ field.errors.as_text|slice:"2:" }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" name="submit_task" class="btn btn-dark">Add</button>
  </form>

  <hr style="border-top: 3px solid #333; margin: 3rem 0;">

  <h3>Add note!</h3>

  <form method="post" class="pt-3">
      {% csrf_token %}
      {% for field in note_form %}
        <div class="form-floating mb-3">
          {{ field }}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% if field.errors %}
            <div class="invalid-feedback d-block">
              {{ field.errors.as_text|slice:"2:" }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" name="submit_note" class="btn btn-dark">Add</button>
  </form>

</div>
  

  {% endblock %}