{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block content %}

<!-- Goal entrance -->
{% if goals %}

  {% for goal in goals %}
    <div class="container col-xxl-12 px-4 py-3 my-5 text-bg-success border rounded-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
        <div class="col-10 col-sm-8 col-lg-6"> <img src="{% static 'temp_photos/programming.png' %}"
            class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" loading="lazy"> </div>
        <div class="col-lg-6">
          <h1 class="display-12 fw-bold lh-1 mb-3">{{ goal.title }}</h1>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start py-3"> 
            <a href="#" class="btn btn-dark btn-lg px-4 me-md-2">Read more</a>
            <a href="#" class="btn btn-danger btn-lg px-4">Delete</a> 
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% else %}
    <div class="container col-xxl-12 px-4 py-3 my-5 text-bg-success border rounded-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
        <div class="col-10 col-sm-8 col-lg-6"> <img src="{% static 'temp_photos/programming.png' %}"
            class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" loading="lazy"> </div>
        <div class="col-lg-6">
          <h1 class="display-12 fw-bold lh-1 mb-3">No goals yet!</h1>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start py-3"> 
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}